#slider {
  position: relative;
  width: 50%;
  height: 20rem;
  margin: 20px auto;
  perspective: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  transition: transform 600ms ease, opacity 600ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-item img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.slider-item h1 {
  position: absolute;
  bottom: 20px;
  left: 8%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .slider-item h1 {
    bottom: 10px;
    left: 15%;
    font-size: 1.3rem;
  }
}

/* Transparent effect on hover */
.transparent img {
  opacity: 0.95; /* Adjust transparency as needed */
  transition: opacity 0.3s ease;
}

/* "Click here" text style */
.click-here-text {
  position: absolute;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0.5;
  z-index: 3;
  pointer-events: none; /* Ensure text does not interfere with click events */
}

.active-slide {
  transform: translateX(0) scale(1);
  z-index: 5;
  opacity: 1;
}

.right-slide {
  transform: translateX(20%) scale(0.8);
  z-index: 4;
  opacity: 0.6;
}

.far-right-slide {
  transform: translateX(40%) scale(0.6);
  z-index: 3;
  opacity: 0.4;
}

.left-slide {
  transform: translateX(-20%) scale(0.8);
  z-index: 4;
  opacity: 0.6;
}

.far-left-slide {
  transform: translateX(-40%) scale(0.6);
  z-index: 3;
  opacity: 0.4;
}

.hidden-slide {
  transform: translateX(-100%);
  opacity: 0;
}

/* Styles for the indicators */
.indicators {
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicator {
  width: 10px; /* Size of the dot */
  height: 10px;
  border-radius: 50%;
  background: lightgray; /* Default color */
  margin: 0 5px; /* Spacing between dots */
  cursor: pointer; /* Change cursor on hover */
  transition: background 300ms ease; /* Smooth transition for color change */
}
@media screen and (max-width: 768px) {
  .indicator {
    width: 8px;
    height: 8px;
  }
}

.indicator.active {
  background: #007bff; /* Active color */
}
